body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    margin: 0;
    padding: 20px;
}

@page {
    size: A4;
    margin: 1cm;
}

pre code {
    white-space: pre-wrap;
}

/* Mermaid diagrams adjustments */
.mermaid svg{
    max-width: 100%;
    height: auto;
}

table {
    page-break-inside: avoid;
}

h1, h2, h3, h4, h5, h6 {
    color: #009688;
}

/* Avoid page breaks inside these elements */
.page-break {
    page-break-before: always;
    page-break-after: always;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
}
